<!doctype html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rent Book - Panel Zarządania - Dodaj Książkę</title>
  <link rel="shortcut icon" type="image/png" href="/imgs/logo.png" />
  <link rel="stylesheet" href="/assets/css/styles.min.css" />
  <script src="/assets/js/updateBook.js" defer></script>
  <% if (typeof id !='undefined' ) { %>
    <script>
      let id = <%=id%>
    </script>
    <% } else{%>
      <script>
          let id = -1
      </script>
      <%}%>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/" class="text-nowrap logo-img">
            <img src="/imgs/logoB.png" width="100%" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <%- include("sideBarNav") -%>
          <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="/api/auth/logout" target="_blank" class="btn btn-primary">Wyloguj się!</a>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 id="headerName" class="card-title fw-semibold mb-4">Aktualizuj książkę</h5>
              <div class="card">
                <div class="card-body">
                  <% if (typeof data.message !="undefined" && typeof data.messagetype !="undefined" ) { %>
                    <% if (data.messagetype=="err" ) { %>
                      <div class="alert alert-danger" role="alert">
                        <%=data.message%>
                      </div>
                      <% } else {%>
                        <div class="alert alert-success" role="alert">
                          <%=data.message%>
                        </div>
                        <% }} %>
                  <form action="/api/manage/update/book" method="post">
                    <div class="mb-3">
                      <label for="title" class="form-label">Tytuł</label>
                      <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="mb-3">
                      <label for="author" class="form-label">Autor</label>
                      <input type="text" class="form-control" id="author" name="author">
                    </div>
                    <div class="mb-3">
                      <label for="publishingHouse" class="form-label">Wydawca</label>
                      <input type="text" class="form-control" id="publishingHouse" name="publishingHouse">
                    </div>
                    <div class="mb-3">
                      <label for="ageCategory" class="form-label">Kategoria wiekowa</label>
                      <input type="number" class="form-control" id="ageCategory" name="ageCategory">
                    </div>
                    <div class="mb-3">
                      <label for="type" class="form-label">Typ książki</label>
                      <select id="type" name="type" class="form-control">
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="shelf" class="form-label">Półka</label>
                      <select id="shelf" name="shelf" class="form-control">
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="localID" class="form-label">Kod Książki</label>
                      <input type="number" class="form-control" id="localID" name="localID">
                    </div>
                    <input type="hidden" name="id" value="<%=id %>">
                    <button type="submit" class="btn btn-primary">Zmień</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/sidebarmenu.js"></script>
  <script src="/assets/js/app.min.js"></script>
  <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
  <!-- <script src="/assets/js/dashboard.js"></script> -->
</body>

</html>